.chess-board-container-div{
    display: block;
    float:right;
    width:75%;
    margin:auto;
    height:100%;
    background-color: grey;
    text-align: center;
}

.container{
    text-align: center;
    display: inline-block;
}
.contentPane{
    display: inline-block;
}

#chess_board a {
    color:#000;
    display:block;
    font-size:60px;
    height:75px;
    position:relative;
    text-decoration:none;
    text-shadow:0 1px #fff;
    width:75px;
}
#chess_board { border:5px solid #333; }
#chess_board td {
    background:#fff;
    cursor: pointer;
    box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    height:75px;
    text-align:center;
    vertical-align:middle;
    width:75px;
}
#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
    background:#ccc;

    box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

.order-container-div {
    float: left;
    width: 25%;

    background-color: white;
    border-radius: 15px;
    margin: 0%;
    height: 100%;
}

.main-container{
    height:94%;
}

.moves-div{
    float:left;
    width:100%;

    background-color: silver;
    border-radius: 15px;
    margin:0%;
    height:80%;
}

.moves-box{
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;
    overflow-y: scroll;
    background-color: #4f4c4e;
    text-align: center;
    /*border-radius: 5px;*/
}

.moves-buttons{
    height: 20%;
}

.moves-list-p{
    font-size: 150%;
    margin:0;
}