.profile-outer-container{
    margin: 3%;
    background-color: #cccccc;
    border-radius: 10px;
}

h1, h2{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

hr{
    margin:5px 100px;
    border-width: 1px;
    border-color:#333333;
}

.profile-top-inner-coontainer{
}

.profile-stat-table{
    font-size: 130%;
    text-align: center;
    border: 2px;
}

input{
    width:50% !important;
    min-width: 150px;
}

.material-icons-custom{

}

.profile-info-custom{
    display: inline-block;
    margin: 5px auto;
}

.change-btn{
    width:70%;
    margin:1%;
    border-width:1px;
    padding:1% 0;
    vertical-align:middle;
}

.histoty-elem-container{
    width:50%;
    background-color: #333333;
    border-radius: 13px;
    color:white;
}

.histoty-elem-container:hover{
    opacity: .8;
}

li {
    list-style-type: none;
}

.history-elem-p{
    margin:3px;
}

.histoty-elem-a:hover{
    text-decoration: none;
}