@charset "UTF-8";

.animated-appear{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: animated-appear;
    animation-name: animated-appear;
}

.animated-text{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: animated-text;
    animation-name: animated-text;

}

.animated-form{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: animated-form;
    animation-name: animated-form;
}


@-webkit-keyframes animated-form {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-25%,0, 0);
        transform: translate3d(-25%,0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animated-form {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-25%,0, 0);
        transform: translate3d(-25%,0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@-webkit-keyframes animated-text {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animated-text {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes animated-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animated-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}