html, body{
    background-color: rgb(8, 8, 8);
    height:100%;
    margin:0;
}

.hint-icons{
    font-size: 200% !important;
    margin:auto;
}

.hint-accept{
    color:green;
}

.hint-reject{
    color:red;
}


.password-hint{
    display:none;
    margin:auto;
    padding: 5px 5px;
    overflow-y:hidden;
    max-width: 270px;
    border-radius: 5px;
    background-color: black;
}


.main-container{
    background-color: rgb(8,8,8);
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.pass-hint-p{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin:auto;
    padding:0;
    color:white;
}


.warning-input-p{
    display:none;
    text-align: left;
    font-size: 70%;
    color:red;
    margin:0;
    margin-left: 10%;
    opacity: 0;
}